{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ACE | Cyber Security</title>
<!-- Stylesheets -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

    <!--Color Switcher Mockup-->
    <link href="{% static 'css/color-switcher-design.css'%}" rel="stylesheet">

    <!--Color Themes-->
    <link id="theme-color-file" href="{% static 'css/color-themes/default-theme.css'%}" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    .container {
        display: flex;
    }

    .column {
        flex: 1;
        padding: 20px;
        color: #0a0505;
        text-align: left;
        font-size: 18px;
        box-sizing: border-box;
        margin: 0 10px;
    }

    .column:nth-child(1) {
        background-color: #3498db; /* Blue */
    }

    .column:nth-child(2) {
        background-color: #ffb07c; /* Peach */
    }

    .column:nth-child(3) {
        background-color: #ffd700; /* Yellow */
    }
</style>
</head>

<body>

<div class="page-wrapper">
    
    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->
    
    <!-- Main Header-->
    <header class="main-header">
    
        <!-- Header Top -->
        <div class="header-top">
            <div class="auto-container">
                <div class="inner-container clearfix">
                    
                    <!--Top Left-->
                    <div class="top-left">
                        <ul class="links clearfix">
                            <li><a href="#">+91 - 9650 339 995</a></li>
                            <li><a href="#"><span class="icon flaticon-note-1"></span>info@aceintegrated.com</a></li>
                            <li><a href="#"><span class="icon flaticon-pin"></span>B-13, DSIDC Complex,
                                Patparganj Industrial Area, Delhi - 110 092</a></li>
                        </ul>
                    </div>
                    
                    <!--Top Right-->
                    <div class="top-right clearfix">
                        <!--social-icon-->
                        <div class="social-icon">
                            <ul class="clearfix">
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <!-- Header Top End -->
        
        <!-- Main Box -->
        <div class="main-box">
            <div class="auto-container">
                <div class="outer-container clearfix">
                    <!--Logo Box-->
                    <div class="logo-box">
                        <div class="logo"><a href="{% url 'index'%}"><img src="{% static 'images/ace-logo2.png' %}" alt=""></a></div>
                    </div>

                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">

                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li><a href="{% url 'index' %}">Home</a></li>
                                    <li class="dropdown"><a href="#">Business Solutions</a>
                                        <ul>
                                            <li class="dropdown"><a href="#">E-Mobility</a>
                                                <ul>
                                                    <li><a href="{% url 'electricbike'%}">Electric Bikes</a></li>
                                                    <li><a href="{% url 'electricboat'%}">Electric Boats</a></li>
                                                    <li><a href="{% url 'drone'%}">Drones</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Information technology</a>
                                                <ul>
                                                    <li><a href="{% url 'cybersecurity'%}">Cyber Security</a></li>
                                                    <li><a href="{% url 'supplychain'%}">Supply Chain Management</a></li>
                                                    <li><a href="{% url 'exammanagement'%}">Exam Management</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'assessment'%}">Assessment</a></li>
                                            <li><a href="{% url 'globaleducation'%}">Global Education</a></li>
                                            <!-- <li><a href="realestate.html">Real Estate & Infrastructure Management</a></li> -->
                                        </ul>
                                    </li>

                                    <li class="dropdown"><a href="#">Company</a>
                                        <ul>
                                            <li><a href="{% url 'company-history'%}">Overview</a></li>
                                            <!-- <li><a href="groupcompany.html">Group Companies</a></li> --> 
                                            <li><a href="{% url 'client'%}">Clientale</a></li>
                                            <li><a href="{% url 'socialinitiatives'%}">Social Initiatives</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Investors</a>
                                        <ul>
                                            <li><a href="{% url 'Disclosures-under-Regulation'%}">Disclosures under Regulation 46 of the LODR</a></li>
                                            <li class="dropdown"><a href="#">Financials & Fillings</a> 
                                                <ul>
                                                    <li><a href="{% url 'financial-result'%}">Financial Results</a></li>
                                                    <li><a href="{% url 'financial-statement'%}">Financial Statements</a></li>
                                                    <li><a href="{% url 'annual-report'%}">Annual Reports</a></li>
                                                    <li><a href="{% url 'otherpublication'%}">Other Publications</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Board Information</a>
                                                <ul>
                                                    <li><a href="{% url 'boardofdirector'%}">Board of Directors</a></li>
                                                    <li><a href="{% url 'Disclosures-under-Regulation'%}">Disclosures under Regulation 46 of the LODR</a></li>
                                                    <li><a href="{% url 'board-meeting'%}">Board Meeting </a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Compliances</a>
                                                <ul>
                                                    <li><a href="{% url 'shareholding-pattern'%}">Shareholding Pattern</a></li>
                                                    <li><a href="{% url 'corporate-governance'%}">Corporate Governance Report</a></li>
                                                    <li><a href="{% url 'stock-exchange'%}">Stock Exchange Intimation</a></li>
                                                    <li><a href="{% url 'agmegm'%}">AGM/EGM</a></li>
                                                    <li><a href="{% url 'postal-ballot'%}">Postal Ballot</a></li>
                                                    <li><a href="{% url 'annual-return'%}">Annual Return</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'policies'%}">Policies & Codes</a></li>
                                            <li><a href="{% url 'Investor-Grievances-Cell'%}">Investor Grievance Cell</a></li>
                                            <li><a href="{% url 'ipo'%}">IPO</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'contact'%}">Contact us</a></li>
                                </ul>
                            </div>
                        </nav>

                    </div>
                    <!--Nav Outer End-->

                </div>
            </div>
        </div>

        <!--Sticky Header-->
        <div class="sticky-header">
            <div class="auto-container">
                <div class="sticky-inner-container clearfix">
                    <!--Logo-->
                    <div class="logo pull-left">
                        <a href="{% url 'index'%}" class="img-responsive">
                            <img src="{% static 'images/ace-logo2.png'%}" height="880px" width="150px" alt="" title=""></a>
                    </div>

                    <!--Right Col-->
                    <div class="right-col pull-right">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li><a href="{% url 'index'%}">Home</a></li>
                                    <li class="dropdown"><a href="#">Business Solutions</a>
                                        <ul>
                                            <li class="dropdown"><a href="#">E-Mobility</a>
                                                <ul>
                                                    <li><a href="{% url 'electricbike'%}">Electric Bikes</a></li>
                                                    <li><a href="{% url 'electricboat'%}">Electric Boats</a></li>
                                                    <li><a href="{% url 'drone'%}">Drones</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Information technology</a>
                                                <ul>
                                                    <li><a href="{% url 'cybersecurity'%}">Cyber Security</a></li>
                                                    <li><a href="{% url 'supplychain'%}">Supply Chain Management</a></li>
                                                    <li><a href="{% url 'exammanagement'%}">Exam Management</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'assessment'%}">Assessment</a></li>
                                            <li><a href="{% url 'globaleducation'%}">Global Education</a></li>
                                            <!-- <li><a href="realestate.html">Real Estate & Infrastructure Management</a></li> -->
                                        </ul>
                                    </li>

                                    <li class="dropdown"><a href="#">Company</a>
                                        <ul>
                                            <li><a href="{% url 'company-history'%}">Overview</a></li>
                                            <!-- <li><a href="groupcompany.html">Group Companies</a></li> -->
                                            <li><a href="{% url 'client'%}">Clientale</a></li>
                                            <li><a href="{% url 'socialinitiatives'%}">Social Initiatives</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Investors</a>
                                        <ul>
                                            <li><a href="{% url 'Disclosures-under-Regulation' %}">Disclosures under Regulation 46 of the LODR</a></li>
                                            <!-- <li class="dropdown"><a href="#">Financials & Fillings</a> -->
                                                <ul>
                                                    <li><a href="{% url 'financial-result' %}">Financial Results</a></li>
                                                    <li><a href="{% url 'financial-statement' %}">Financial Statements</a></li>
                                                    <li><a href="{% url 'annual-report' %}">Annual Reports</a></li>
                                                    <li><a href="{% url 'otherpublication' %}">Other Publications</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Board Information</a>
                                                <ul>
                                                    <li><a href="{% url 'boardofdirector' %}">Board of Directors</a></li>
                                                    <li><a href="{% url 'Disclosures-under-Regulation' %}">Disclosures under Regulation 46 of the LODR</a></li>
                                                    <li><a href="{% url 'board-meeting' %}">Board Meeting </a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Compliances</a>
                                                <ul>
                                                    <li><a href="{% url 'shareholding-pattern' %}">Shareholding Pattern</a></li>
                                                    <li><a href="{% url 'corporate-governance' %}">Corporate Governance Report</a></li>
                                                    <li><a href="{% url 'stock-exchange' %}">Stock Exchange Intimation</a></li>
                                                    <li><a href="{% url 'agmegm' %}">AGM/EGM</a></li>
                                                    <li><a href="{% url 'postal-ballot' %}">Postal Ballot</a></li>
                                                    <li><a href="{% url 'annual-return' %}">Annual Return</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'policies' %}">Policies & Codes</a></li>
                                            <li><a href="{% url 'Investor-Grievances-Cell' %}">Investor Grievance Cell</a></li>
                                            <li><a href="{% url 'ipo' %}">IPO</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'contact'%}">Contact us</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->


                    </div>

                </div>
            </div>
        </div>
        <!--End Sticky Header-->

    </header>
    <!--End Main Header -->
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/subpage.jpg' %});">
        <div class="auto-container">
            <h1>Cyber Security</h1>
        </div>
        
    </section>
    <!--End Page Title-->
    
    <!--Page Info-->
    <div class="page-info">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <ul class="bread-crumb pull-left">
                    
                    <li><a href= "{% url 'index' %}" style="font-size: 20px;"><b>Home</b></a></li>

                    <li style="font-size: 17px;"><b>Business Solutions</b></li>
                    <li style="font-size: 17px;"><b>Information Technology</b></li>
                    <li style="font-size: 17px;"><b>Cyber Security</b></li>
                   
                   
                    
                </ul>
                <!--<div class="text pull-right">Certified Company ISO 9001-2008</div>-->
            </div>
        </div>
    </div>
    <!--End Page Info-->
    
    <!--CYBERSECURITY SCAMS-->
    <section class="result-section">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title">
                <h2>CYBERSECURITY SCAMS</h2>
                <!--<div class="text">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content.</div>-->
            </div>
            
            <div class="row clearfix">
                
                <!--Services Block-->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{% static 'images/img/Picture1.jpg' %}" alt="" />
                        </div>
                        <!-- <div class="lower-content">
                            <h3><a href="#">Software Development</a></h3>
                        </div> -->
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{% static 'images/img/Picture2.jpg' %}" alt="" />
                        </div>
                        <!-- <div class="lower-content">
                            <h3><a href="cybersecurity.html">Cyber security</a></h3>
                        </div> -->
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{% static 'images/img/Picture3.jpg' %}" alt="" />
                        </div>
                        <!-- <div class="lower-content">
                            <h3><a href="#">Supply Chain Management</a></h3>
                        </div> -->
                    </div>
                </div>
                 <!--Services Block-->
                 <div class="services-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{% static 'images/img/Picture4.jpg' %}" alt="" />
                        </div>
                        <!-- <div class="lower-content">
                            <h3><a href="#">Software Development</a></h3>
                        </div> -->
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{% static 'images/img/Picture5.jpg' %}" alt="" />
                        </div>
                        <!-- <div class="lower-content">
                            <h3><a href="cybersecurity.html">Cyber security</a></h3>
                        </div> -->
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{% static 'images/img/Picture6.jpg' %} " alt="" />
                        </div>
                        <!-- <div class="lower-content">
                            <h3><a href="#">Supply Chain Management</a></h3>
                        </div> -->
                    </div>
                </div>
                 <!--Services Block-->
                 <div class="services-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{% static 'images/img/Picture7.jpg' %}" alt="" />
                        </div>
                        <!-- <div class="lower-content">
                            <h3><a href="#">Supply Chain Management</a></h3>
                        </div> -->
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
    <!--End CYBERSECURITY SCAMS-->

    <!--CYBERSECURITY Strategy -->
    <section class="we-do-section grey-bg">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title">
                <h2>CYBERSECURITY STRATEGY</h2>
                <!--<div class="text">Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content.</div>-->
            </div>
            
            <div class="row clearfix">
                
                <!--Services Block-->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{% static 'images/img/pic1.png' %}" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3>IDENTIFY RISKS in  Infrastructure</h3>
                        </div>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{% static 'images/img/pic2.png' %}" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3>Control with strong measures and have Network security in place.
                            </h3>
                        </div>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{% static 'images/img/pic3.png' %}" alt="" />
                        </div>
                        <div class="lower-content">
                            <h3>Continuously Monitor and safeguard from threats 
                            </h3>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
    <!--End CYBERSECURITY Strategy -->

    <!--CYBERSECURITY-->
    <section class="result-section">
        <div class="auto-container">
            <div class="sec-title">
                <h2>CYBERSECURITY</h2>
            
            <div class="text">
                    <ul class="list-style-three">
                        <li>The term cyber security is used to refer to the security offered through on-line services to protect organization s online information.
                        </li>
                        <li>With an increasing IT systems and ever growing amount of people getting connected to Internet, the security threats that cause massive harm are increasing also.
                        </li>
                        <li>To ensure smooth business functions and control sensitive information, it becomes imperative to protect precious resource of organization using, advanced technology-based measures and keep on upgrading security systems to match likely threats from outside invisible enemies, hackers and provide highly impregnable and robust framework.
                        </li>
                    </ul><br>
            </div>
            </div>
        </div>
    </section>
        
    <!--End CYBERSECURITY-->

     <!--Cybersecurity threat management-->
     <section class="we-do-section grey-bg">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="about-section-three">
                    <div class="sec-title">
                        <h2>Cybersecurity threat management</h2>
                    </div>
                    <div class="row clearfix">
                        <!--Content Column-->
                        <div class="content-column col-md-8 col-sm-12 col-xs-12">
                            <div class="inner-column">
                                <div class="text">
                                    <!-- <p>Studying abroad is a dream for many students. While some time back it seemed impossible, but now the world is open to international students all over again with universities and business schools welcoming students with open arms with world class facilities, most affordable fee structure and future ready model. </p> -->
                                    <p><b>How to implement and maintain Security of a Cyber field around us?</b></p>
                                    <ul class="list-style-three">
                                        <li>Safeguard IT systems and intranet from viruses</li>
                                        <li>Install effective, strong and robust Firewalls at all possible checkpoints, entry points and access interfaces
                                        </li>
                                        <li>Stop all kinds of spams, trojan e-mails, malware from entering hence adopt uncompromising policies of IT usage within organization
                                        </li>
                                        <li>Institutionalize password management  for all users so that detection and identification of simple passwords are disallowed for user groups
                                        </li>
                                        <li>Set-up continuous monitoring, alert management and encountering any kind of cyber attacks from outside
                                        </li>
                                        <li>Regimen to review and upgrade cybersecurity systems 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Image Column-->
                        <div class="image-column col-md-4 col-sm-12 col-xs-12">
                            <div class="image">
                                <img src="{% static 'images/img/cm.jpg' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        
    <!--End Cybersecurity threat management-->

    <!--End Point Security  -->
    <section class="result-section">
        <div class="auto-container">
            <div class="sec-title">
                <h2>End Point Security  </h2>
            
            <div class="text">
                    <ul class="list-style-three">
                        <li>Endpoint security is the practice of securing endpoints or entry points of end-user devices such as desktops, laptops, and mobile devices from being exploited by malicious actors and campaigns. 
                        </li>
                        <li>Endpoint security systems protect these endpoints on a network or in the cloud from cybersecurity threats. Endpoint security has evolved from traditional antivirus software to providing comprehensive protection from sophisticated malware and evolving zero-day threats.
                        </li>
                        <li>Organizations of all sizes are at risk from nation-states, hacktivists, organized crime, and malicious and accidental insider threats. Endpoint security is often seen as cybersecurity's frontline, and represents one of the first places organizations look to secure their enterprise networks.
                        </li>
                        <li>As the volume and sophistication of cybersecurity threats have steadily grown, so has the need for more advanced endpoint security solutions. Today’s endpoint protection systems are designed to quickly detect, analyze, block, and contain attacks in progress. To do this, they need to collaborate with each other and with other security technologies to give administrators visibility into advanced threats to speed detection and remediation response times.
                        </li>
                    </ul><br>
            </div>
            </div>
        </div>
    </section>
        
    <!--End End Point Security  -->

    <!--EPP IMP-->
    <section class="we-do-section grey-bg">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Image Column-->
                <div class="image-column col-md-4 col-sm-12 col-xs-12">
                    <div class="image">
                        <img src="{% static 'images/img/EPSI.jpg' %}" alt="" />
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-md-8 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <h2>Why End-Point Security is Important</h2>
                        
                        <div class="text">
                            <!-- <p>One wonders as to what can be key criteria for critical decision making towards shaping up one’s career Goals. Quality of Education assumes foremost position, followed by other parameters i.e. Global scale, Employability, Cost factors, Economic drivers. German Education System scores enviable marks in all key parameters setting it at par with most of American and European education models. Success becomes imminent at German Universities and B-Schools offer unparallel standards, high-class regimen, cutting-edge tech-facilities, permissive atmosphere of specialized learning and industry lineage for giving robust growth in career as rewarding experience. </p> -->
                            <p><b>Endpoint security components
                            </b></p>
                                <ul class="list-style-three">
                                    <li>Machine-learning classification to detect zero-day threats in near real time
                                    </li>
                                    <li>Advanced antimalware and antivirus protection to protect, detect, and correct malware across multiple endpoint devices and operating systems
                                    </li>
                                    <li>Proactive web security to ensure safe browsing on the web
                                    </li>
                                    <li>Data classification and data loss prevention to prevent data loss and exfiltration
                                    </li>
                                    <li>Integrated firewall to block hostile network attacks
                                    </li>
                                    <li>Email gateway to block phishing and social engineering attempts targeting your employees
                                    </li>
                                    <li>Actionable threat forensics to allow administrators to quickly isolate infections
                                    </li>
                                    <li>Insider threat protection to safeguard against unintentional and malicious actions
                                    </li>
                                </ul>
                        </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End EPP IMP-->

    <!--Network Security  -->
    <section class="result-section">
        <div class="auto-container">
            <div class="sec-title">
                <h2>Network Security</h2>
            
                <div class="container">
                    <div class="column">
                        <p><li>Detect and block advanced threats and lateral attack movements in real time and accelerate resolution of detected incidents with concrete evidence and actionable intelligence. Adapt to new threats automatically.</li>
                </p>
                        <p><li>Detect common threats in your network and data centers—while automatically adapting so you can anticipate and respond to new and dynamic threats.
                </li></p>
                    </div>
                    <div class="column">
                        <p><li>Identify and resolve a broad range of security incidents faster, determine the scope and impact of threats, and resecure your network.</li>
                </p>
                        <p><li>Protect across your network to the cloud
                Keep your cloud, IoT, collaboration tools, endpoints, and infrastructure safe. Automate your responses to adapt to the changing security landscape.</li>
                </p>
                    </div>
                    <div class="column">
                        <p><li>Inspect all network traffic to prevent new and unknown attacks and streamline security operations with real-time event correlation across all sources.
                </li></p>
                        <p><li>Configure to your organization’s needs
                Integrate with any vendor—and improve efficiency by surfacing only the alerts that matter to you.</li>
                </p>
                    </div>
                </div>
        </div>
    </section>
        
    <!--End network Security  -->
    
    <!--Network Security Products -->
    <section class="we-do-section grey-bg">
        <div class="auto-container">
            <div class="sec-title">
                <h2>Network Security - Products</h2><br><br>
            
                <div class="container">
                    <div class="column">
                        <p><li><b>Leave No Attack Unseen with Network Detection and Response (NDR)</b>Gain unparalleled visibility and apply state-of-the-art, signatureless detection and protection against the most advanced and evasive threats, including zero-day attacks.
                        </li></p>
                        <p><li><b>Respond to Alerts That Matter</b>Improve analyst efficiency with high-fidelity alerts 
                        </li></p>
                        <p><li><b>Automate and Simplify Security Workflows</b>Generate concrete real-time evidence and metadata to provide further security context</li></p>
                    </div>
                    <div class="column">
                        <p><li><b>Conduct Effective Threat Investigations</b>Detect a broad range of security incidents, improve your response quality, and precisely quantify the impact of each incident.
                        </li>
                </p>
                        <p><li><b>Reconstruct the Cyber Attack Kill Chain</b>Reveal hidden threats and accelerate incident response by reviewing specific network packets
                        </li>
                </p>
                <p><li><b>Reduce the Mean Time to Detect and Respond</b>Accelerate the network forensics process with a single workbench that simplifies investigations and remediates attacks.
                </li></p>
                    </div>
                    <div class="column">
                        <p><li><b>Superior Detection</b>Real-time signature-based intrusion prevention to stop initial reconnaissance, plus signatureless detection to catch unknown exploits.
                        </li></p>
                        <p><li><b>High Performance</b>provides automatic scaling for elastic workloads; on-prem appliances: up to 100Gbps.
                        </li>
                </p>
                <p><li><b>Reduced Complexity</b>Fewer components eases deployment and management. Integration with AWS simplifies high availability. Unified policies across all networks.
                </li></p>
                    </div>
                </div>
        </div>
    </section>
        
    <!--End network Security Products -->
    
    <!--Main Footer-->
    <footer class="main-footer">
        <div class="auto-container">
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="row clearfix">
                    
                    <!--big column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-md-7 col-sm-6 col-xs-12">
                                <div class="footer-widget logo-widget">
                                    <div class="logo">
                                        <a href= "{% url 'index' %}"><img src="{% static 'images/ace-logo2.png' %}" height="850px" width="200px" alt="" /></a>
                                    </div>
                                    <div class="text">Collaboratively administrate em powered markets via plug and play networks. Dynamically procrastinate B2C users after installed.</div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-5 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                    <h2>Quick Links</h2>
                                    <div class="widget-content">
                                        <ul class="list">
                                            <li><a href="{% url 'index' %}">Home</a></li>
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Testimonials</a></li>
                                            <li><a href="#">Request Call Back</a></li>
                                            <li><a href="#">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--big column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                    <h2>Services</h2>
                                    <div class="widget-content">
                                        <ul class="list">
                                            <li><a href="#">Mechanical Engineering</a></li>
                                            <li><a href="#">Agricultural Processing</a></li>
                                            <li><a href="#">Petrolium & Gas</a></li>
                                            <li><a href="#">Material Engineering</a></li>
                                            <li><a href="#">Power & Engergy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget info-widget">
                                    <h2>Get In Touch</h2>
                                    <div class="widget-content">
                                        <div class="number">+91 - 9650 339 995</div>
                                        <div class="text">B-13, DSIDC Complex,
                                            Patparganj Industrial Area, Delhi - 110 092</div>
                                        <ul class="social-icon-one">
                                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <!--Footer Bottom-->
            <div class="footer-bottom">
                <div class="clearfix">
                    <div class="pull-left">
                        <div class="copyright">&copy; Copyright  <a href="#">Ace Integrated Solutions Ltd..</a> 2023. All right reserved.</div>
                    </div>
                    <div class="pull-right">
                        <div class="created">Created by Kristellar Aerospace Pvt. Ltd.</div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </footer>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-double-up"></span></div>

<!-- Color Palate / Color Switcher -->
<div class="color-palate">
    <div class="color-trigger">
        <i class="fa fa-gear"></i>
    </div>
    <div class="color-palate-head">
        <h6>Choose Your Color</h6>
    </div>
    <div class="various-color clearfix">
        <div class="colors-list">
            <span class="palate default-color active" data-theme-file="css/color-themes/default-theme.css"></span>
            <span class="palate teal-color" data-theme-file="css/color-themes/teal-theme.css"></span>
            <span class="palate green-color" data-theme-file="css/color-themes/green-theme.css"></span>
            <span class="palate aqua-color" data-theme-file="css/color-themes/aqua-theme.css"></span>
            <span class="palate blue-color" data-theme-file="css/color-themes/blue-theme.css"></span>
            <span class="palate orange-color" data-theme-file="css/color-themes/orange-theme.css"></span>
            <span class="palate olive-color" data-theme-file="css/color-themes/olive-theme.css"></span>
            <span class="palate red-color" data-theme-file="css/color-themes/red-theme.css"></span>
        </div>
    </div>

    <div class="palate-foo">
        <span>You can easily change and switch the colors.</span>
    </div>

</div>
<!-- /.End Of Color Palate -->

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>

<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

<!--Color Switcher-->
<script src="{% static 'js/color-settings.js' %}"></script>
</body>

</html>
