{% load static %}
<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>ACE | Supply Chain Management</title>
<!-- Stylesheets -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

    <!--Color Switcher Mockup-->
    <link href="{% static 'css/color-switcher-design.css'%}" rel="stylesheet">

    <!--Color Themes-->
    <link id="theme-color-file" href="{% static 'css/color-themes/default-theme.css'%}" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->
 	
    <!-- Main Header-->
    <header class="main-header">


        <!-- Main Box -->
        <div class="main-box">
            <div class="auto-container">
                <div class="outer-container clearfix">
                    <!--Logo Box-->
                    <div class="logo-box">
                        <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'images/ace-logo2.png' %}" alt=""></a></div>
                    </div>

                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">

                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li><a href="{% url 'index' %}">Home</a></li>
                                    <li class="dropdown"><a href="#">Business Solutions</a>
                                        <ul>
                                            <li class="dropdown"><a href="#">E-Mobility</a>
                                                <ul>
                                                    <li><a href="{% url 'electricbike'%}">Electric Bikes</a></li>
                                                    <li><a href="{% url 'electricboat'%}">Electric Boats</a></li>
                                                    <li><a href="{% url 'drone'%}">Drones</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Information technology</a>
                                                <ul>
                                                    <li><a href="{% url 'cybersecurity'%}">Cyber Security</a></li>
                                                    <li><a href="{% url 'supplychain'%}">Supply Chain Management</a></li>
                                                    <li><a href="{% url 'exammanagement'%}">Exam Management</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'assessment'%}">Assessment</a></li>
                                            <li><a href="{% url 'globaleducation'%}">Global Education</a></li>
                                            <!-- <li><a href="realestate.html">Real Estate & Infrastructure Management</a></li> -->
                                        </ul>
                                    </li>

                                    <li class="dropdown"><a href="#">Company</a>
                                        <ul>
                                            <li><a href="{% url 'company-history'%}">Overview</a></li>
                                            <!-- <li><a href="groupcompany.html">Group Companies</a></li> --> 
                                            <li><a href="{% url 'client'%}">Clientale</a></li>
                                            <li><a href="{% url 'socialinitiatives'%}">Social Initiatives</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Investors</a>
                                        <ul>
                                            <li><a href="{% url 'Disclosures-under-Regulation'%}">Disclosures under Regulation 46 of the LODR</a></li>
                                            <li class="dropdown"><a href="#">Financials & Fillings</a> 
                                                <ul>
                                                    <li><a href="{% url 'financial-result'%}">Financial Results</a></li>
                                                    <li><a href="{% url 'financial-statement'%}">Financial Statements</a></li>
                                                    <li><a href="{% url 'annual-report'%}">Annual Reports</a></li>
                                                    <li><a href="{% url 'otherpublication'%}">Other Publications</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Board Information</a>
                                                <ul>
                                                    <li><a href="{% url 'boardofdirector'%}">Board of Directors</a></li>
                                                    <li><a href="{% url 'Disclosures-under-Regulation'%}">Disclosures under Regulation 46 of the LODR</a></li>
                                                    <li><a href="{% url 'board-meeting'%}">Board Meeting </a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Compliances</a>
                                                <ul>
                                                    <li><a href="{% url 'shareholding-pattern'%}">Shareholding Pattern</a></li>
                                                    <li><a href="{% url 'corporate-governance'%}">Corporate Governance Report</a></li>
                                                    <li><a href="{% url 'stock-exchange'%}">Stock Exchange Intimation</a></li>
                                                    <li><a href="{% url 'agmegm'%}">AGM/EGM</a></li>
                                                    <li><a href="{% url 'postal-ballot'%}">Postal Ballot</a></li>
                                                    <li><a href="{% url 'annual-return'%}">Annual Return</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'policies'%}">Policies & Codes</a></li>
                                            <li><a href="{% url 'Investor-Grievances-Cell'%}">Investor Grievance Cell</a></li>
                                            <li><a href="{% url 'ipo'%}">IPO</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'contact'%}">Contact us</a></li>
                                </ul>
                            </div>
                        </nav>

                    </div>
                    <!--Nav Outer End-->

                </div>
            </div>
        </div>

        <!--Sticky Header-->
        <div class="sticky-header">
            <div class="auto-container">
                <div class="sticky-inner-container clearfix">
                    <!--Logo-->
                    <div class="logo pull-left">
                        <a href="{% url 'index'%}" class="img-responsive">
                            <img src="{% static 'images/ace-logo2.png'%}" height="880px" width="150px" alt="" title=""></a>
                    </div>

                    <!--Right Col-->
                    <div class="right-col pull-right">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li><a href="{% url 'index'%}">Home</a></li>
                                    <li class="dropdown"><a href="#">Business Solutions</a>
                                        <ul>
                                            <li class="dropdown"><a href="#">E-Mobility</a>
                                                <ul>
                                                    <li><a href="{% url 'electricbike'%}">Electric Bikes</a></li>
                                                    <li><a href="{% url 'electricboat'%}">Electric Boats</a></li>
                                                    <li><a href="{% url 'drone'%}">Drones</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Information technology</a>
                                                <ul>
                                                    <li><a href="{% url 'cybersecurity'%}">Cyber Security</a></li>
                                                    <li><a href="{% url 'supplychain'%}">Supply Chain Management</a></li>
                                                    <li><a href="{% url 'exammanagement'%}">Exam Management</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'assessment'%}">Assessment</a></li>
                                            <li><a href="{% url 'globaleducation'%}">Global Education</a></li>
                                            <!-- <li><a href="realestate.html">Real Estate & Infrastructure Management</a></li> -->
                                        </ul>
                                    </li>

                                    <li class="dropdown"><a href="#">Company</a>
                                        <ul>
                                            <li><a href="{% url 'company-history'%}">Overview</a></li>
                                            <!-- <li><a href="groupcompany.html">Group Companies</a></li> -->
                                            <li><a href="{% url 'client'%}">Clientale</a></li>
                                            <li><a href="{% url 'socialinitiatives'%}">Social Initiatives</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Investors</a>
                                        <ul>
                                            <li><a href="{% url 'Disclosures-under-Regulation' %}">Disclosures under Regulation 46 of the LODR</a></li>
                                            <!-- <li class="dropdown"><a href="#">Financials & Fillings</a> -->
                                                <ul>
                                                    <li><a href="{% url 'financial-result' %}">Financial Results</a></li>
                                                    <li><a href="{% url 'financial-statement' %}">Financial Statements</a></li>
                                                    <li><a href="{% url 'annual-report' %}">Annual Reports</a></li>
                                                    <li><a href="{% url 'otherpublication' %}">Other Publications</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Board Information</a>
                                                <ul>
                                                    <li><a href="{% url 'boardofdirector' %}">Board of Directors</a></li>
                                                    <li><a href="{% url 'Disclosures-under-Regulation' %}">Disclosures under Regulation 46 of the LODR</a></li>
                                                    <li><a href="{% url 'board-meeting' %}">Board Meeting </a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="#">Compliances</a>
                                                <ul>
                                                    <li><a href="{% url 'shareholding-pattern' %}">Shareholding Pattern</a></li>
                                                    <li><a href="{% url 'corporate-governance' %}">Corporate Governance Report</a></li>
                                                    <li><a href="{% url 'stock-exchange' %}">Stock Exchange Intimation</a></li>
                                                    <li><a href="{% url 'agmegm' %}">AGM/EGM</a></li>
                                                    <li><a href="{% url 'postal-ballot' %}">Postal Ballot</a></li>
                                                    <li><a href="{% url 'annual-return' %}">Annual Return</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'policies' %}">Policies & Codes</a></li>
                                            <li><a href="{% url 'Investor-Grievances-Cell' %}">Investor Grievance Cell</a></li>
                                            <li><a href="{% url 'ipo' %}">IPO</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'contact'%}">Contact us</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->


                    </div>

                </div>
            </div>
        </div>
        <!--End Sticky Header-->

    </header>
    <!--End Main Header -->
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url('{% static 'images/background/subpage.jpg' %}')";>
        <div class="auto-container">
            <h1>Supply Chain Management</h1>
        </div>
        
    </section>
    <!--End Page Title-->
    
    <!--Page Info-->
    <div class="page-info">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <ul class="bread-crumb pull-left">
                    <li><a href= "{% url 'index' %}" style="font-size: 20px;"><b>Home</b></a></li>

                    <li style="font-size: 17px;"><b>Business Solutions</b></li>
                    <li style="font-size: 17px;"><b>Information Technology</b></li>
                    <li style="font-size: 17px;"><b>SCM</b></li>
                </ul>
                <!--<div class="text pull-right">Certified Company ISO 9001-2008</div>-->
            </div>
        </div>
    </div>
    <!--End Page Info-->
    
    <!--Project Detail Section-->
    <section class="project-detail-section">
    	
        <!--Description Section-->
        <div class="description-section">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="image-column col-md-8 col-sm-12 col-xs-12">
                        <div class="image">
                            <img src="{% static 'images/img/scm.png' %}" alt="" />
                        </div>
                    </div>
                    <div class="about-section-three">
                        <div class="sec-title">
                            <h2>ACE INTEGRATED PROFILE</h2>
                        </div>
                        <div class="row clearfix">
                            <!--Content Column-->
                            <div class="content-column col-md-8 col-sm-12 col-xs-12">
                                <div class="inner-column">
                                    <div class="text">
                                        <ul class="list-style-three">
                                            <li>An IT Solutions company located at Delhi and a subsidiary of ACE Integrated Solutions Limited</li>
                                            <li>Key domains are Online examination management, recruitment and selections and engaged to offer special projects in areas of Education, ERP SCM, Cybersecurity, Health and Automation.</li>
                                            <li>Current areas of interest are e-mobility, warehouse management, electric vehicle development and marketing and green energy</li>
                                            <li>ACE aims to channelize and provide key services related to warehousing solution and asset management system to valued customers based on globally established technology tools, processes and systems</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Image Column-->
                            <div class="image-column col-md-4 col-sm-12 col-xs-12">
                                <div class="image">
                                    <img src="{% static 'images/img/60-si-cyber-security.png' %}" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <!--We Did Section-->
        <div class="we-did-section">
            <div class="auto-container">
            	<div class="row clearfix">
                	<!--Image Column-->
                    <div class="image-column col-md-4 col-sm-12 col-xs-12">
                    	<div class="image">
                        	<img src="{% static 'images/img/about.png' %}" alt="" />
                        </div>
                    </div>
                    <!--Content Column-->
                    <div class="content-column col-md-8 col-sm-12 col-xs-12">
                    	<div class="inner-column">
                        	<div class="sec-title">
                                <h2>About Us</h2>
                            
                            <div class="text">
                                <p><b>Ace Integrated Solutions Limited</b> is a premier IT company engaged in providing recruitment selection, project management, Cybersecurity and Supply Chain Management Solutions in India. Our aim is to deliver quality solutions and services to its customers.</p>
                                <p><b>Software, Inc.,</b> is a global provider of business management software and systems integration services, headquartered in Ann Arbor, Michigan, with offices in Mumbai, India & Dallas, Texas. Our team has over 30 years of experience in the Supply Chain Management Industry.</p>
                                <div class="sec-title">
                                    <div class="title"><p style="color:black;">iM3 SCM is a cloud-based Supply Chain Management software that automates asset tracking, inventory and repair management for the commercial transportation industry</p></div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div><br><br>
        <!--End We Did Section-->
        
        <!--Result Section-->
        <div class="description-section">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="sec-title">
                        <h2>iM3 SCM Functionality</h2>
                    </div>
                    <div class="auto-container">
                        <!--Content Column-->
                        <div class="content-column">
                            <div class="inner-column">
                                <div class="sec-title">
                                    <div class="title"><p style="color:black;">iM3SCM is an Integrated Cloud-Based Application that automates the following tasks:</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Image Column-->
                    <div class="image-column col-md-8 col-sm-12 col-xs-12">
                        <div class="image">
                            <img src="{% static 'images/img/supplychain.png' %}" alt="" />
                        </div>
                    </div>
                    <!--Info Column-->
                </div>
            </div>
        </div>
        <!--End Result Section-->
    </section>
    <!--Default Section-->
    <section class="default-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Company Column-->
                <div class="company-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="sec-title">
                            <h2>Software Modules</h2>
                        </div>
                        <!--Image Column-->
                        <style>
                            * {
                              box-sizing: border-box;
                            }
                            
                            .column {
                              float: left;
                              width: 100%;
                              padding: 5px;
                            }
                            
                            /* Clearfix (clear floats) */
                            .row::after {
                              content: "";
                              clear: both;
                              display: table;
                            }
                            </style>

                            <div class="row">
                                <div class="column">
                                <img src="{% static 'images/img/swmodule.png' %}" alt="" style="width:100%">
                                </div>
                            </div>
                
                    </div>
                </div>
                
                <!--Accordian Column-->
                <div class="accordian-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                        
                        <style>
                            * {
                              box-sizing: border-box;
                            }
                            
                            .column1 {
                              float: left;
                              width: 70%;
                              padding: 5px;
                              padding-top: 80px;
                            }
                            
                            /* Clearfix (clear floats) */
                            .row::after {
                              content: "";
                              clear: both;
                              display: table;
                            }
                            </style>

                            <div class="row">
                                <div class="column1">
                                <img src="{% static 'images/img/swmodule1.png' %}" alt="" style="width:100%">
                                </div>
                            </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section><br><br>
    <!--End Default Section-->

    <div class="description-section">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Company Column-->
                <div class="company-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<h2>Why iM3 SCM?</h2>
                        <div><b>iM3 SCM Suite</b> is a cloud enabled SCM solution which includes Real-time Inventory and Asset Management, Inbuilt barcode technology & mobility, scanner-based applications, work priority applications, ecommerce integration, procurement, attendance time and labor recording, TV dashboard applications and more.</div><br>
                        <!--Image Column-->
                        <style>
                            * {
                              box-sizing: border-box;
                            }
                            
                            .column {
                              float: left;
                              width: 100%;
                              padding: 5px;
                            }
                            
                            /* Clearfix (clear floats) */
                            .row::after {
                              content: "";
                              clear: both;
                              display: table;
                            }
                            </style>

                            <div class="row">
                                <div class="column">
                                <img src="{% static 'images/img/iM31.png' %}" alt="" style="width:100%">
                                </div>
                            </div>
                        </div>
                </div>

                <!--Accordian Column-->
                <div class="accordian-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	
                        <style>
                            * {
                              box-sizing: border-box;
                            }
                            
                            .column {
                              float: left;
                              width: 100%;
                              padding: 5px;
                            }
                            
                            /* Clearfix (clear floats) */
                            .row::after {
                              content: "";
                              clear: both;
                              display: table;
                            }
                            </style>

                            <div class="row">
                                <div class="column">
                                <img src="{% static 'images/img/iM3.png' %}" alt="" style="width:100%">
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <!--About Section Two-->
    <section class="about-section-two">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Content Column-->
                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="sec-title">
                        	<h2>Initial Customer Traction</h2>
                        </div><br>
                        <ul class="list-style-three">
                            <li>Rapid initial success penetrating the Carrier Transicold dealer network</li>
                            <li>Carrier is one of largest global providers of refrigerated transport solutions.  Carrier is an $18 billion company that has been operating for over 45 years with over 300 dealer locations in North America alone</li>
                            <li>We have quickly won 5% of the North American dealer network in the past year</li>
                        </ul>
                    </div>
                </div>
                <!--Video Column-->
                <div class="video-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<style>
                            * {
                              box-sizing: border-box;
                            }
                            
                            .column {
                              float: left;
                              width: 100%;
                              padding: 5px;
                            }
                            
                            /* Clearfix (clear floats) */
                            .row::after {
                              content: "";
                              clear: both;
                              display: table;
                            }
                            </style>

                            <div class="row">
                                <div class="column">
                                <img src="{% static 'images/img/initial.png' %}" alt="" style="width:70%">
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section><br><br>
    <!--End About Section Two-->

    <div class="description-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="sec-title">
                    <h2>Solving a Complex Problem</h2>
                </div>
                <!--Company Column-->
                <div class="company-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<h2>Key Requirements</h2>
                        <ul class="list-style-three">
                            <li>Dealers and distributors are critical at enhancing the OEMs’ value proposition to end-customers.</li>
                            <li>Dealers need to have the right inventory, tasks, tools and the right technicians at the right time in order to be effective.</li>
                            <li>Communication with the OEM and with customers needs to be fast and accurate</li>
                            <li>Customers use multiple software to manage their  business</li>
                        </ul>
                        
                        </div>
                </div>

                <!--Accordian Column-->
                <div class="accordian-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<h2>Current Challenges</h2>
                        <ul class="list-style-three">
                            <li>Disparate technologies that do not interface with each other</li>
                            <li>No single source of truth</li>
                            <li>Inconsistent processes</li>
                            <li>Manual order entry</li>
                            <li>Duplication of tasks</li>
                            <li>Inefficient servicing</li>
                            <li>Lost parts/assets</li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--End Project Detail Section-->
    
    <!--Main Footer-->
    <footer class="main-footer">
		<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--big column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-md-7 col-sm-6 col-xs-12">
                                <div class="footer-widget logo-widget">
                                    <div class="logo">
                                    	<a href= "{% url 'index' %}" ><img src="{% static 'images/ace-logo2.png' %}" height="850px" width="200px" alt="" /></a>
                                    </div>
                                    <div class="text">Collaboratively administrate em powered markets via plug and play networks. Dynamically procrastinate B2C users after installed.</div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-5 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                	<h2>Quick Links</h2>
                                    <div class="widget-content">
										<ul class="list">
                                        	<li><a href="{% url 'index' %}">Home</a></li>
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Testimonials</a></li>
                                            <li><a href="#">Request Call Back</a></li>
                                            <li><a href="#">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--big column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                	<h2>Services</h2>
                                    <div class="widget-content">
										<ul class="list">
                                        	<li><a href="#">Mechanical Engineering</a></li>
                                            <li><a href="#">Agricultural Processing</a></li>
                                            <li><a href="#">Petrolium & Gas</a></li>
                                            <li><a href="#">Material Engineering</a></li>
                                            <li><a href="#">Power & Engergy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                <div class="footer-widget info-widget">
                                	<h2>Get In Touch</h2>
                                    <div class="widget-content">
                                    	<div class="number">+91 - 9650 339 995</div>
                                        <div class="text">B-13, DSIDC Complex,
                                            Patparganj Industrial Area, Delhi - 110 092</div>
                                        <ul class="social-icon-one">
                                        	<li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <!--Footer Bottom-->
            <div class="footer-bottom">
                <div class="clearfix">
                    <div class="pull-left">
                        <div class="copyright">&copy; Copyright  <a href="#">Ace Integrated Solutions Ltd..</a> 2023. All right reserved.</div>
                    </div>
                    <div class="pull-right">
                        <div class="created">Created by Kristellar Aerospace Pvt. Ltd.</div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </footer>
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-double-up"></span></div>

<!-- Color Palate / Color Switcher -->
<div class="color-palate">
    <div class="color-trigger">
        <i class="fa fa-gear"></i>
    </div>
    <div class="color-palate-head">
        <h6>Choose Your Color</h6>
    </div>
    <div class="various-color clearfix">
        <div class="colors-list">
            <span class="palate default-color active" data-theme-file="css/color-themes/default-theme.css"></span>
            <span class="palate teal-color" data-theme-file="css/color-themes/teal-theme.css"></span>
            <span class="palate green-color" data-theme-file="css/color-themes/green-theme.css"></span>
            <span class="palate aqua-color" data-theme-file="css/color-themes/aqua-theme.css"></span>
            <span class="palate blue-color" data-theme-file="css/color-themes/blue-theme.css"></span>
            <span class="palate orange-color" data-theme-file="css/color-themes/orange-theme.css"></span>
            <span class="palate olive-color" data-theme-file="css/color-themes/olive-theme.css"></span>
            <span class="palate red-color" data-theme-file="css/color-themes/red-theme.css"></span>
        </div>
    </div>

    <div class="palate-foo">
        <span>You can easily change and switch the colors.</span>
    </div>

</div>
<!-- /.End Of Color Palate -->

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>

<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

<!--Color Switcher-->
<script src="{% static 'js/color-settings.js' %}"></script>
</body>

</html>